.container {
	// we occupy only 1200px of the viewport
	// but if the viewport is less than 1200px we occupy the 100%
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--color-grey-light-2);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// 1. grow 2. shrink 3. basis(width)
	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	// background-color: #fff;

	//test
	height: 80rem;
	background-color: orangered;

	flex: 1;
}