/* 
keyframes @rule allows us to put more options,
moveInLeft is the name of the animation
*/

@keyframes moveInLeft {
	/* 
	defining what happens when the animation starts
	*/
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		/* 
		our element will go a bit more to the right
		*/
		transform: translateX(1rem);
	}
	/* 
	defining what want to see when the animation ends
	*/
	100% {
		opacity: 1;
		/* 
		the animated element returns back to its original position
		*/
		transform: translate(0);
	}
}


@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(10rem);
	}

	80% {
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
