@mixin clearfix {
	&::after {
		// must define a content otherwise the pseudo element will not appear on the page
		content: "";
		display: table;
		clear: both;
	}
}

@mixin center-vertical-horizontal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}